#grid {

    width: 75vh;
    height: 75vh;
    justify-self: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: auto;
    /* background-color: rgb(20, 25, 26); */
    background-image: url(susCat.jpg);
    background-size: cover;
}



.column {

    display: flex;
    flex: auto;
}

.row {

    flex: auto;
    background-color: rgb(28, 48, 85);
}


#button-bar {

    display: flex;
    justify-content: space-evenly;

}

h1 {
    margin: 0;
}