.column {

    display: flex;
    /* background-color: aqua; */
    /* margin: 5px;
    gap: 5px; */
    justify-content: center;

}

.row {

    background-color: rgb(221, 216, 236);
    padding: 10px;
}

.row.filled {

    background-color: rgb(153, 188, 219);
}