#grid {

    width: 75vw;
    height: 75vw;
    justify-self: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.column {

    display: flex;
    flex: auto;
    
    
}

.row {

    flex: auto;
    background-color: rgb(221, 216, 236);
    /* align-self: stretch; */
}

.row.filled {

    background-color: rgb(153, 188, 219);
}